<div class="about-container">
  <div class="block-container">
    <div class="block-about__first">
      <div class="block-about__first__img">
        <img src="../../images/bg2.png" alt="Voyager Daypack" />
        <div class="block-about__first__text-overlay">
          <h1>VOYAGER DAYPACK</h1>
          <p>NAVY SALT &amp; PEPPER</p>
        </div>
      </div>
      <div class="block-about__first__desc">
        <div class="block-about__first__desc__box">
          <p>
            Whether you&apos;re stomping around outdoors or traversing the city,
            our Voyager Daypack was designed to be adaptable in all
            environments. Compact, lightweight and a comfortable for people of
            all sizes. this silhouette is versatile enough to fit just about
            anyone&apos;s daily routine.
          </p>
          <div class="arrow">
            <img src="../../images/arrow_img.png" alt="Arrows" />
          </div>
        </div>
      </div>
    </div>
    <div class="block-about__second">
      <div class="block-about__second__desc">
        <div class="block-about__second__desc__box">
          <p>
            Field-tested from the peaks of the Cascades down to the desert floor
            of Joshua Tree, the Wilderness Rucksack was built to put on some
            serious miles for years to come. A comfortable, dependable
            combination of 14oz Salt &amp; Pepper canvas, premium wool felt, and
            Cambara English bridle leather.
          </p>
          <div class="arrow">
            <img src="../../images/arrow_img.png" alt="Arrows" />
          </div>
        </div>
      </div>
      <div class="block-about__second__img">
        <img src="../../images/bg3.png" alt="Voyager Daypack" />
        <div class="block-about__second__text-overlay">
          <h1>DRIFTER DOPP KIT</h1>
          <p>NAVY SALT &amp; PEPPER</p>
        </div>
      </div>
    </div>
  </div>
</div>
