<section class="banner-container">
  <div class="block-container">
    <div class="container">
      <div class="slider-content">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="content" data-content="one">
                <p>Designed for utility</p>
                <h1>Navy Salt &amp; Pepper</h1>
                <a href="#" class="content__link"><span>Gear UP</span></a>
              </div>
            </div>
  
            <div class="swiper-slide">
              <div class="content" data-content="two">
                <p>Designed for utility</p>
                <h1>Navy Salt &amp; Pepper</h1>
                <a href="#" class="content__link"><span>Gear UP</span></a>
              </div>
            </div>
  
            <div class="swiper-slide">
              <div class="content" data-content="three">
                <p>Designed for utility</p>
                <h1>Navy Salt &amp; Pepper</h1>
                <a href="#" class="content__link"><span>Gear UP</span></a>
              </div>
            </div>
  
            <div class="swiper-slide">
              <div class="content" data-content="four">
                <p>Designed for utility</p>
                <h1>Navy Salt &amp; Pepper</h1>
                <a href="#" class="content__link"><span>Gear UP</span></a>
              </div>
            </div>
  
            <div class="swiper-slide">
              <div class="content" data-content="five">
                <p>Designed for utility</p>
                <h1>Navy Salt &amp; Pepper</h1>
                <a href="#" class="content__link"><span>Gear UP</span></a>
              </div>
            </div>
          </div>
  
          <!-- navigation arrows slider -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
  
          <!-- pagination slider -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</section>