<div class="cate-container">
  <div class="block-container">
    <div class="container">
      <div class="title-content">
        <h1>Tanner Collections</h1>
        <p>NAVY SALT &amp; PEPPER</p>
      </div>
      <div class="cate-content">
        <div class="cate-first">
          <h1 class="cate-number">01</h1>
          <div class="cate-first__content">
            <div class="cate-first__img">
              <img src="../../images/collect1.png" alt="Category 01" />
            </div>
            <div class="cate-first__text">
              <h2>NOMAD DUFFLE</h2>
              <p>
                This bag can be carried by hand, worn as a backpack or slung
                over a shoulder depending on your traveling needs
              </p>
              <a href="#" class="link-readmore"><span>Read more</span></a>
            </div>
          </div>
        </div>
        <div class="cate-second">
          <div class="cate-second__content">
            <div class="cate-second__text">
              <h2>SPRUCE SALT &amp; PEPPER</h2>
              <div class="cate-second__text__box">
                <p>
                  We designed our Nomad Duffle as a versatile yet rugged piece
                  of luggage that's just as comfortable outdoors as it is in an
                  overhead compartment
                </p>
                <a href="#" class="link-readmore"><span>Read more</span></a>
              </div>
            </div>
            <div class="cate-second__img">
              <img src="../../images/collect1-1.png" alt="Category 02" />
            </div>
          </div>
        </div>
        <div class="cate-third">
          <h1 class="cate-number">02</h1>
          <div class="cate-third__content">
            <div class="cate-third__img">
              <img src="../../images/collect2.png" alt="Category 03" />
            </div>
            <div class="cate-third__text">
              <h2>FIELD CAMERA BAG</h2>
              <p>
                Our field camera bag is constructed from 14oz Salt &amp; Pepper
                canvas and Cambara Meridian English bridle leather. We've put
                these bags through the ringer in testing and we think you'll
                approve of the result. Our Camera Bag is fully lined and padded,
                and features an adjustable shoulder strap and pad, as well as
                two interior flap pockets for smaller gear and film.
              </p>
              <a href="#" class="link-readmore"><span>Read more</span></a>
            </div>
          </div>
        </div>
        <div class="cate-fourth">
          <h1 class="cate-number">03</h1>
          <div class="cate-fourth__content">
            <div class="cate-fourth__title">
              <img
                src="../../images/voyager_paypack_img.png"
                alt="VOYAGER DAYPACK"
              />
            </div>
            <div class="cate-fourth__img">
              <img src="../../images/collect3.png" alt="Category 04" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cate-list-items">
      <div class="cate-list-items__item">
        <img
          src="../../images/co-item1.png"
          alt="Item 1"
          class="cate-list-items__img"
        />
        <div class="overlay">
          <a href="#" class="cate-list-items__icon" title="Add Item">
            <i class="fa-solid fa-circle-plus"></i>
          </a>
        </div>
      </div>
      <div class="cate-list-items__item">
        <img
          src="../../images/co-item2.png"
          alt="Item 1"
          class="cate-list-items__img"
        />
        <div class="overlay">
          <a href="#" class="cate-list-items__icon" title="Add Item">
            <i class="fa-solid fa-circle-plus"></i>
          </a>
        </div>
      </div>
      <div class="cate-list-items__item">
        <img
          src="../../images/co-item3.png"
          alt="Item 1"
          class="cate-list-items__img"
        />
        <div class="overlay">
          <a href="#" class="cate-list-items__icon" title="Add Item">
            <i class="fa-solid fa-circle-plus"></i>
          </a>
        </div>
      </div>
      <div class="cate-list-items__item">
        <img
          src="../../images/co-item4.png"
          alt="Item 1"
          class="cate-list-items__img"
        />
        <div class="overlay">
          <a href="#" class="cate-list-items__icon" title="Add Item">
            <i class="fa-solid fa-circle-plus"></i>
          </a>
        </div>
      </div>
      <div class="cate-list-items__item">
        <img
          src="../../images/co-item6.png"
          alt="Item 1"
          class="cate-list-items__img"
        />
        <div class="overlay">
          <a href="#" class="cate-list-items__icon" title="Add Item">
            <i class="fa-solid fa-circle-plus"></i>
          </a>
        </div>
      </div>
      <div class="cate-list-items__item">
        <img
          src="../../images/co-item6.png"
          alt="Item 1"
          class="cate-list-items__img"
        />
        <div class="overlay">
          <a href="#" class="cate-list-items__icon" title="Add Item">
            <i class="fa-solid fa-circle-plus"></i>
          </a>
        </div>
      </div>
      <div class="cate-list-items__item">
        <img
          src="../../images/bg-collect.png"
          alt="Item 1"
          class="cate-list-items__bg-collect"
        />
      </div>
    </div>
  </div>
</div>
