@include breakpoint(1281) {
  body {
    @include rem('font-size', 13);
  }

  .container {
    max-width: 1170px;
    padding: 0 15px;
  }

  .swiper-slide {
    .content {
      h1 {
        @include rem('font-size', 28);
      }
    }
  }

  .swiper-pagination {
    width: 40px;

    &::before {
      top: -20%;
    }
  }

  .swiper-pagination-bullet {
    margin: 15px auto !important;
  }

  .swiper-pagination-bullet-active {
    @include rem('font-size', 21);
    width: 40px;
    height: 40px;
    line-height: 40px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    left: 120px;
  }

  .block-about {

    &__first,
    &__second {
      &__text-overlay {
        h1 {
          @include rem('font-size', 32);
        }

        p {
          float: none;
          text-align: center;
        }
      }
    }

    &__first {
      &__desc {
        width: 70%;
        padding: 20px 40px 20px 0;
        right: 3%;
      }
    }

    &__second {
      &__desc {
        width: 70%;
        padding: 20px 0 20px 20px;
        left: 3%;
      }
    }
  }

  .cate-container {
    margin: 70px auto;

    .title-content {
      h1 {
        @include rem('font-size', 36);
      }
    }

    .cate-first {
      &__text {
        h2 {
          @include rem('font-size', 18);
        }
      }
    }

    .cate-second {
      &__img {
        margin-top: -170px;
      }

      &__text {
        h2 {
          @include rem('font-size', 18);
        }
      }
    }

    .cate-third {
      &__text {
        width: 40%;
      }
    }

    .cate-fourth {
      margin-top: -120px;
    }

    .cate-list-items {
      margin: -220px auto 0;
    }
  }

  .link-readmore {
    @include rem('font-size', 14);
  }

  .footer-first {
    &__ft-logo {
      img {
        max-width: 100px;
      }
    }

    .ft-nav {
      column-gap: 0;
      row-gap: 5px;
      flex-direction: column;
    }
  }
}

@include breakpoint(1025) {
  .navbar {
    padding-top: 15px;
  }

  .bg-logo {
    width: 120px;

    .img-logo {
      width: 100%;
      max-width: 80px;
    }

    &::before {
      width: 120px;
      height: 120px;
    }
  }

  .banner-container {
    height: 575px;

    &::after {
      width: 100%;
      height: 575px;
    }
  }

  .swiper-slide {
    .content {
      top: 0;
    }
  }

  .swiper-pagination {
    top: 5px !important;
    left: 0 !important;

    &::before {
      display: none;
      visibility: hidden;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
    visibility: hidden;
  }

  .block-about {

    &__first,
    &__second {
      display: flex;
      flex-direction: column;

      &__desc {
        width: 100%;
        padding: 20px;
        position: static;

        &__box {
          max-width: 100%;

          .arrow {
            display: none;
          }
        }
      }

      &__text-overlay {
        text-align: center;
        width: 100%;
        max-width: 475px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h1 {
          @include rem('font-size', 24);
        }
      }

      &__img {
        img {
          width: 100%;
        }
      }
    }

    &__second {
      flex-direction: column-reverse;
    }
  }

  .cate-container {
    .title-content {
      p {
        &::before {
          left: -75px;
        }
      }
    }

    .cate-first {
      &__text {
        padding-top: 100px;

        &::before {
          top: 30px;
        }
      }
    }

    .cate-list-items {
      margin: -180px auto 0;
    }
  }
}

@include breakpoint(900) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    will-change: transform;
    transition: background .3s, transform .5s cubic-bezier(.694, .048, .335, 1);
    transform: translateY(0);
  }

  .nav-link-wrapper {
    flex-direction: column;
    justify-content: center;
    background: $white;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
  }
}


@include breakpoint(770) {
  h2 {
    @include rem('font-size', 16);
  }

  .block-about {

    &__first,
    &__second {
      padding: 50px 0;
    }
  }

  .cate-container {
    .cate-first {

      &__img,
      &__text {
        width: 50%;
      }

      &__text {
        justify-content: center;
        padding: 0;

        h2 {
          font-size: initial;
        }

        p {
          font-size: inherit;
        }

        &::before {
          display: none;
        }
      }
    }

    .cate-second {

      &__img,
      &__text {
        width: 50%;
      }

      &__text {
        margin: 0;

        h2 {
          font-size: initial;
          padding: 0;
        }

        &__box {
          width: 100%;
          padding: 20px;

          p {
            font-size: inherit;
            margin: 0 0 20px 0;
          }
        }

        &::after {
          display: none;
        }
      }

      &__img {
        margin: 0;

        &::before,
        &::after {
          display: none;
        }
      }

    }

    .cate-third {
      margin: 0;

      &__img,
      &__text {
        width: 50%;
      }

      &__text {
        justify-content: center;
        margin: 0;
      }
    }

    .cate-fourth {
      margin: 0;

      &__title {
        align-items: center;
        margin-bottom: 0;
      }
    }

    .cate-list-items {
      gap: 0 20px;
      margin: -100px auto 0;
    }
  }

  .cate-content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .footer-first {
    .ft-nav {
      &__link {
        @include rem('font-size', 13);
      }
    }
  }

  .footer-second {
    &__item {
      font-size: inherit;
      column-gap: 60px;

      .ft-social {
        column-gap: 20px;
      }
    }
  }

  .hover-link {
    &:hover {
      color: $text-primary !important;
    }
    &::before,
    &::after {
      display: none;
    }
  }
}

@include breakpoint(570) {
  h1 {
    @include rem('font-size', 16);
  }

  h2 {
    @include rem('font-size', 14);
  }

  .cate-container {
    .cate-number {
      @include rem('font-size', 24);
      @include rem('letter-spacing', 5);
    }

    .title-content {
      h1 {
        font-size: initial;
        font-weight: 900;
        @include rem('margin-bottom', 10)
      }

      p {
        padding: 5px;
        float: none;
        text-align: center;
        margin: auto;

        &::before {
          display: none;
        }
      }
    }

    .cate-first,
    .cate-second {
      &__text {
        h2 {
          font-size: inherit;
        }
      }
    }

    .cate-first {
      h1 {
        &::after {
          display: none;
        }
      }
    }
  }

  .footer-first {
    &__item {
      flex-wrap: wrap;
      row-gap: 20px;
    }

    .newsletter {
      max-width: 100%;

      &__sub-title {
        margin: 10px auto;
      }
    }
  }
}

@include breakpoint(480) {
  .swiper-slide {
    .content {

      h1,
      p,
      a {
        color: $white;
      }

      h1 {
        @include rem('font-size', 18)
      }

      &__link {
        margin-left: 0;
      }
    }
  }

  .swiper-pagination {
    width: 30px;
    top: 30px !important;
  }

  .swiper-pagination-bullet {
    margin: 15px auto !important;
  }

  .swiper-pagination-bullet-active {
    @include rem('font-size', 18);
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .cate-container {
    .title-content {
      h1 {
        font-size: initial;
        font-weight: 900;
        @include rem('margin-bottom', 10)
      }

      p {
        width: 100%;

        &::before {
          display: none;
        }
      }
    }

    .cate-content {
      row-gap: 40px;
    }

    .cate-first,
    .cate-second,
    .cate-third,
    .cate-fourth {
      &__content {
        flex-direction: column;
      }

      &__img,
      &__text {
        width: 100%;
      }
    }

    .cate-fourth {
      &__title {
        width: 80%;
        margin: auto;
      }
    }

    .cate-list-items {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin: 0 auto;
      &__item {
        &:last-child {
          display: none;
        }
      }
      &__img {
        width: 100%;
        max-width: 80px;
      }
    }
  }

  .footer-first {
    &__ft-logo {
      img {
        max-width: 70px;
      }
    }
    .ft-nav {
      &__link {
        @include rem('font-size', 11);
      }
    }
  }

  .footer-second {
    &__item {
      flex-direction: column;
      align-items: center;
      row-gap: 20px;
    }
  }
}

@include min-breakpoint(901) {
  .nav-toggle {
    display: none;
  }
}