<footer class="footer-container">
  <div class="container">
    <div class="footer-first">
      <div class="footer-first__item">
        <div class="footer-first__ft-logo">
          <img src="../../images/tanner_logo.svg" alt="Logo Footer" />
        </div>
        <div class="footer-first__ft-menu">
          <nav class="ft-nav">
            <a href="#1" class="ft-nav__link hover-link">Finda</a>
            <a href="#2" class="ft-nav__link hover-link">Store</a>
            <a href="#3" class="ft-nav__link hover-link">Sizing</a>
            <a href="#4" class="ft-nav__link hover-link">Care</a>
            <a href="#5" class="ft-nav__link hover-link">Watch</a>
          </nav>
        </div>
        <div class="footer-first__ft-address">
          <p class="text">Sebazzo Ltd, Unit 3F2</p>
          <p class="text">Zetland House</p>
          <p class="text">5-25 Scrutton Street</p>
          <p class="text">London EC2A 4HJ</p>
        </div>
        <div class="newsletter">
          <p class="newsletter__title">Email Newsletters</p>
          <p class="newsletter__sub-title">
            Sign up for new TANNER GOODS content, updates, surveys &amp; offers.
          </p>
          <form class="newsletter__form">
            <input id="email-text" class="newsletter__form__input-text" type="text" />
            <button class="newsletter__form__btn">
              <i class="fa-solid fa-angle-right icon-arr"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-second">
      <div class="footer-second__item">
        <div class="ft-copyright">
          <p>&copy; tanner goods portland ore 2016</p>
        </div>
        <div class="ft-social">
          <a href="#" class="ft-social__link hover-link">facebook</a>
          <a href="#" class="ft-social__link hover-link">pinterest</a>
          <a href="#" class="ft-social__link hover-link">twitter</a>
          <a href="#" class="ft-social__link hover-link">instagram</a>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</footer>