<header class="header-container">
  <section class="site-wrapper">
    <div class="header-content">
      <div class="navbar">
        <div class="content-wrapper nav">
          <a class="logo" href="#">
            <div class="bg-logo">
              <img
                class="img-logo"
                src="../../images/tanner_logo.svg"
                alt="Tanner Logo"
              />
            </div>
            <nav class="nav-link-wrapper">
              <a href="#" class="nav-link text-black">Navy Salt</a>
              <a href="#" class="nav-link text-black">Voyager</a>
              <a href="#" class="nav-link text-white">Drifter</a>
              <a href="#" class="nav-link text-white">Collection</a>
              <a href="#" class="nav-link text-white">Contact</a>
            </nav>
          </a>
          <a aria-label="mobile menu" class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </a>
        </div>
      </div>
    </div>
  </section>
</header>
