<header class="header-container">
  <section class="site-wrapper">
    <div class="container">
      <div class="header-content">
        <div class="navbar">
          <div class="content-wrapper nav">
            <a class="logo" href="#">
              <div class="bg-logo">
                <img
                  class="img-logo"
                  src="../../images/tanner_logo.svg"
                  alt="Tanner Logo"
                />
              </div>
              <nav class="nav-link-wrapper">
                <a href="#" class="nav-link text-black hover-link">Navy Salt</a>
                <a href="#" class="nav-link text-black hover-link">Voyager</a>
                <a href="#" class="nav-link text-white hover-link">Drifter</a>
                <a href="#" class="nav-link text-white hover-link">Collection</a>
                <a href="#" class="nav-link text-white hover-link">Contact</a>
              </nav>
            </a>
            <a aria-label="mobile menu" class="nav-toggle">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>
